.modal__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(43, 43, 43, 0.8);
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal__overlay_visible {
    opacity: 1;
    visibility: visible;
}

.modal__content {
    width: 628px;
    min-height: 420px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: #fdfdfd;

    box-shadow: 0px -2px 18px rgba(128, 128, 128, 0.1);
    border-radius: 8px;

    display: flex;
    flex-direction: column;
}

.modal__header {
    width: 300px;
    height: 32px;

    margin-left: 32px;
    margin-top: 32px;
}

.modal__title {
    text-align: justify;
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;

    color: #2b2b2b;
}

.modal__close {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;

    position: absolute;
    width: 16px;
    height: 16px;
    left: 596px;
    top: 0px;
    cursor: pointer;
    border-radius: 0px 8px;
}

.modal__description {
    display: flex;
    flex-direction: column;

    width: 495px;
    height: 44px;

    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;

    color: #2b2b2b;

    margin-left: 32px;
    margin-top: 40px;
}

.modal__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    margin-left: 32px;
    margin-top: 40px;
}
