.app__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 1129px;

    /* position: absolute;
    left: 0px;
    top: 0px; */

    width: 1440px;
    height: 70px;

    background: #fdfdfd;

    box-shadow: 0px -2px 18px rgba(128, 128, 128, 0.1);
}

.app__logo {
    width: 70px;
    height: 70px;
    background: #dc0b35;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 82px;
}

.logoutblock {
    display: flex;
    width: 80px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 82px;
}

.logoutblock__iconuser {
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

.logoutblock__logout {
    width: 55px;
    height: 19px;

    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;

    color: #ec4466;
}
