.app__mainblock {
    display: flex;
    flex-direction: row;
    max-width: 1276px;
    min-height: 400px;
    justify-content: space-between;
    margin-top: 75px;
    margin-left: 82px;
}

/* @media (max-width: 768px) {
    .app__mainblock {
        margin-top: 22px;
        margin-left: 22px;
    }
} */
