.app__providers {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 32px;

    max-width: 412px;
    min-height: 709px;

    background: #ffffff;

    border: 1px solid #f2f2f2;
    border-radius: 8px;

    margin-bottom: 32px;
}

.poviders__title {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 348px;
    height: 29px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.poviders__titletext {
    width: 78px;
    height: 29px;

    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;

    color: #2b2b2b;
}

.providers__rowproviders {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    max-width: 348px;
    width: 100%;
    height: 147px;
}

.providers__title {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 348px;
    height: 29px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.providers__titletext {
    width: 109px;
    height: 29px;

    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;

    color: #2b2b2b;
}

.provider {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    max-width: 169px;
    width: 100%;
    height: 147px;
}

.provider__borderimage {
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 169px;
    width: 100%;
    height: 120px;

    background: #fdfdfd;

    border: 1px solid #f2f2f2;
    border-radius: 8px;
}

.provider__name {
    width: 62px;
    height: 17px;

    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    text-align: left;

    color: #2b2b2b;
}

@media (max-width: 768px) {
    .app__providers {
        padding: 0;
        padding-top: 10px;
        width: 88vw;
    }

    .providers__rowproviders {
        width: inherit;
        justify-content: space-evenly;
    }

    .provider__name,
    .provider__image,
    .provider {
        width: 35vw;
    }

    /* .provider__image img {
        width: 100%;
        height: 100%;
    } */

    .games__title {
        width: 88vw;
        box-sizing: border-box;
        padding: 0 20px 0 20px;
    }

    .game {
        gap: 5px;
    }
}
