/* .button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 10px;

    width: 196px;
    height: 64px;
    background: #f2f2f2;

    box-shadow: 0px -2px 18px rgba(128, 128, 128, 0.1);
    border-radius: 4px;

    cursor: pointer;
} */

.button__text {
    width: 98px;
    height: 22px;

    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;

    color: #adadad;
}

.button__text_color {
    color: #ffffff;
}

/* .button_coloryes {
    background: #ec4466;
}

.button_colorno {
    background: #6c6963;
} */

.button {
    display: inline-block;
    position: relative;
    padding: 10px 15px;
    box-shadow: 0px -2px 18px rgba(128, 128, 128, 0.1);
    border-radius: 4px;

    width: 196px;
    height: 64px;

    color: #adadad;
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;

    cursor: pointer;
    text-decoration: none;

    border: none;
}

/* .button:hover {
  background-color: #70B4E6;
} */

.button_delete {
    box-shadow: 0px -2px 18px rgba(128, 128, 128, 0.1);
    color: #ffffff;
    background: #ec4466;
}

.button_edit {
    background: #fdbc11;
    color: #2b2b2b;
}

.button_cancel {
    background: #6c6963;
    box-shadow: 0px -2px 18px rgba(128, 128, 128, 0.1);
    color: #ffffff;
}

.button[disabled] {
    /* opacity: .5; */
    cursor: not-allowed;
    background: #f2f2f2;
}

/* .button.active {
    background-color: #23c9ff;
    border: 1px solid #5eb2f2;
    box-shadow: 0px 0 2px 0px #c0c0c0;
} */

/* .btn.invert {
  background-color: #FFF;
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.2);
} */
