.button__text {
    width: 98px;
    height: 22px;

    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;

    color: #adadad;
}

.button__text_color {
    color: #ffffff;
}

.button {
    display: inline-block;
    position: relative;
    padding: 10px 15px;
    box-shadow: 0px -2px 18px rgba(128, 128, 128, 0.1);
    border-radius: 4px;

    width: 196px;
    height: 64px;

    color: #adadad;
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;

    cursor: pointer;
    text-decoration: none;

    border: none;
}

.button_delete {
    box-shadow: 0px -2px 18px rgba(128, 128, 128, 0.1);
    color: #ffffff;
    background: #ec4466;
}

.button_edit {
    background: #fdbc11;
    color: #2b2b2b;
}

.button_cancel {
    background: #6c6963;
    box-shadow: 0px -2px 18px rgba(128, 128, 128, 0.1);
    color: #ffffff;
}

.button[disabled] {
    /* opacity: .5; */
    cursor: not-allowed;
    background: #f2f2f2;
}
