.app__games {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 32px;

    max-width: 412px;
    width: 100%;
    min-height: 709px;

    background: #ffffff;

    border: 1px solid #f2f2f2;
    border-radius: 8px;

    margin-bottom: 32px;
}

.games__title {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 348px;
    height: 29px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.games__titletext {
    /* width: 78px; */
    height: 29px;

    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;

    color: #2b2b2b;
}

.games__rowgames {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 348px;
    height: 147px;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    max-width: 169px;
    width: 100%;
    height: 147px;
}

.game__image {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 169px;
    height: 120px;
    border-radius: 8px;
    overflow: hidden;
}

.game__image img {
    max-width: 100%;
    height: auto;
}

.game__name {
    width: 112px;
    height: 17px;

    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    text-align: left;

    color: #2b2b2b;
}

@media (max-width: 768px) {
    .app__games {
        padding-top: 32px;
    }
}

@media (max-width: 768px) {
    .app__games {
        padding: 0;
        padding-top: 10px;
        width: 88vw;
    }

    .games__rowgames {
        width: inherit;
        justify-content: space-evenly;
    }

    .game__name,
    .game__image,
    .game {
        width: 35vw;
    }

    .game__image img {
        width: 100%;
        height: 100%;
    }

    .games__title {
        width: 88vw;
        box-sizing: border-box;
        padding: 0 20px 0 20px;
    }

    .game {
        gap: 5px;
    }
}
