.games__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    width: 844px;
    height: 785px;

    /* 
        position: absolute;
    left: 82px;
    top: 145px; */
}

.games__grid {
    --columns: 2;
    --sliderValue: 2;
    grid-template-columns: repeat(max(var(--columns), var(--sliderValue)), 1fr);
    min-width: 270px;
    display: grid;
    gap: 20px;
    padding-bottom: 20px;
}

.games__img {
    width: 100%;
    border-radius: 8px;
}
