.app__groups {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 32px;

    /* position: absolute;
    left: 0;
    top: 0; */

    width: 412px;
    min-height: 709px;

    background: #ffffff;

    border: 1px solid #f2f2f2;
    border-radius: 8px;

    border: 1px solid darkorchid;

    margin-bottom: 32px;
}

.groups__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 348px;
    height: 32px;
}

.groups__titletext {
    width: 84px;
    height: 29px;

    font-family: "Prompt";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;

    color: #2b2b2b;
}

.groups__games {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    width: 348px;
    min-height: 581px;
}

.groups__rowgroups {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 5px;

    width: 348px;
    height: 167px;
}

.group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 169px;
    height: 167px;
}

.group__images {
    width: 169px;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.wrappers {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 120px;
}

.wrappers img {
    height: 100%;
    width: auto;
}

.group__wrap1 {
    left: 0px;
    top: 0px;

    border-radius: 8px 0px 0px 8px;
}

.group__wrap2 {
    left: 56px;
    top: 0px;

    border-radius: 0px;
}

.group__wrap3 {
    left: 113px;
    top: 0px;

    border-radius: 0px 8px 8px 0px;
}

.group__name {
    width: 32px;
    height: 17px;

    font-family: "Prompt";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;

    color: #2b2b2b;
}

.group__buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    width: 169px;
    height: 15px;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
}

.button__edit {
    width: 39px;
    height: 15px;
    gap: 5px;
    cursor: pointer;
}

.button__delete {
    width: 56px;
    height: 14px;
    gap: 6px;
    cursor: pointer;
}
