.app__groups {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 32px;

    max-width: 412px;
    min-height: 200px;

    background: #ffffff;

    border: 1px solid #f2f2f2;
    border-radius: 8px;

    margin-bottom: 32px;
}

.groups__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    max-width: 340px;
    width: 100%;
    height: 32px;
}

.groups__titletext {
    height: 29px;

    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;

    color: #2b2b2b;
}

.groups__games {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    max-width: 348px;
    width: 100%;
    min-height: 200px;
}

.groups__rowgroups {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    max-width: 348px;
    height: 167px;
    width: 100%;
}

.group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    max-width: 169px;
    height: 167px;
}

.group__images {
    max-width: 169px;
    height: 120px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.wrappers {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 56px;
    height: 120px;
    width: 100%;
}

.wrappers img {
    height: 100%;
    width: auto;
}

.group__wrap1 {
    left: 0px;
    top: 0px;

    border-radius: 8px 0px 0px 8px;
}

.group__wrap2 {
    left: 56px;
    top: 0px;

    border-radius: 0px;
}

.group__wrap3 {
    left: 113px;
    top: 0px;

    border-radius: 0px 8px 8px 0px;
}

.group__name {
    max-width: 32px;
    height: 17px;

    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;

    color: #2b2b2b;
}

.group__buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    max-width: 169px;
    height: 15px;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
}

.button__edit {
    max-width: 39px;
    height: 15px;
    gap: 5px;
    cursor: pointer;
}

.button__delete {
    max-width: 56px;
    height: 14px;
    gap: 6px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .app__groups {
        padding: 24px 0;
        width: 88vw;
    }

    .groups__title {
        padding: 0;
    }

    .groups__games {
        width: inherit;
        gap: 40px;
        align-items: center;
    }

    .groups__rowgroups {
        width: 77vw;
        justify-content: flex-start;
        gap: 10px;
    }

    .group__buttons,
    .group__name,
    .group__images,
    .group {
        width: 37vw;
    }

    .group__buttons {
        gap: 20px;
    }

    .groups__title {
        width: 88vw;
        box-sizing: border-box;
        padding: 0 20px;
    }

    .group {
        gap: 5px;
    }
}
