.app__groups {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 32px;

    width: 412px;
    height: 709px;

    background: #ffffff;

    border: 1px solid #f2f2f2;
    border-radius: 8px;

    border: 1px solid red;
}

.groups__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 348px;
    height: 32px;
}

.groups__titletext {
    width: 84px;
    height: 29px;

    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;

    color: #2b2b2b;
}
