.app__filters {
    display: flex;
    position: absolute;
    width: 412px;
    height: 823px;

    left: 946px;
    top: 145px;
    background: #ffffff;

    border-radius: 8px;

    border: 1px solid #f2f2f2;
}

.filters__search {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0px 16px;
    gap: 16px;

    width: 348px;
    height: 64px;

    position: absolute;
    top: 32px;
    left: 32px;
    background: #ffffff;

    border: 1px solid #f2f2f2;
    border-radius: 4px;
}

.filters__search input {
    width: 100%;
    height: 19px;
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;

    color: #808080;
    border: none;
}

.filters__search input:focus {
    outline: none;
}

.filters__providers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 128px;
    left: 32px;

    width: 355px;
    height: 195px;

    padding: 10px;
    gap: 10px;

    border: 1px solid red;
}

.filters__title {
    width: 150px;
    height: 19px;

    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: start;

    color: #808080;
}

.filters__items {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    padding-left: 10px;

    width: 350px;
    height: 29px;

    border: 1px solid green;
}

.filters__item {
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;

    cursor: pointer;

    color: #2b2b2b;
    padding: 2px;
}

.filters__item_color {
    border-radius: 2px;
    background: #fdbc11;
}

.filters__gamegroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 355px;
    left: 32px;

    width: 250px;
    height: 155px;

    padding: 10px;
    gap: 10px;

    border: 1px solid red;
}

.filters__sorting {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    padding: 10px;
    gap: 10px;

    top: 543px;
    left: 32px;

    width: 235px;
    height: 78px;

    border: 1px solid red;
}

.filters__columns {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;

    position: absolute;

    top: 653px;
    left: 32px;

    width: 348px;
    height: 64px;

    border: 1px solid red;
}

.filters__control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 10px;

    position: absolute;

    top: 749px;
    left: 32px;

    width: 348px;
    height: 42px;

    border: 1px solid red;
}

.filters__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 120px;
    height: 42px;

    background: #ffffff;

    box-shadow: 0px -2px 18px rgba(128, 128, 128, 0.1);
    border-radius: 4px;
}

.filters__buttontext {
    width: 43px;
    height: 19px;

    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;

    color: #808080;
}

.filters__buttontext:hover:active {
    color: #2b2b2b;
}

.filters__button {
    background: #ffffff;
    box-shadow: 0px -2px 18px rgba(128, 128, 128, 0.1);
}

.filters__button_reset:hover {
    box-shadow: 0px 0px 4px rgba(128, 128, 128, 0.06);
}

.filters__button_reset:active {
    background: #fdfdfd;
}

.filters__switch {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 358px;
    height: 16px;
    left: 0px;
    top: 0px;
}

.filters__radio {
    z-index: 2;
    display: inline-block;
}

.filters__radio input[type='radio'] {
    display: none;
}

.filters__radio input[type='radio']:checked + label {
    background: #fdbc11;
}

.filters__radio label {
    display: inline-block;
    cursor: pointer;
    width: 1.1em;
    height: 1.1em;

    border-radius: 50%;
    user-select: none;

    background: #f2f2f2;
    padding: 1px;
}

.filters__radio label span {
    position: relative;
    bottom: 3px;
}

.filters__box23 {
    position: relative;
    left: -2px;
}

.filters__radio3 {
    position: relative;
    left: -4px;
}

.filters__box34 {
    position: relative;
    left: -6px;
}

.filters__radio4 {
    position: relative;
    left: -8px;
}

.filters__box {
    width: 200px;
    height: 10px;
    background: #f2f2f2;
    z-index: 1;
}

.filters__box_color {
    background: #fdbc11;
}
