.app__blocks {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    /* position: absolute; */
    /* left: 82px;
    top: 145px; */

    margin-left: 82px;
    margin-top: 75px;

    margin-bottom: 100px;

    width: 1276px;
    min-height: 709px;

    border: 1px solid green;
}

.app__groups {
    /* display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    position: absolute;
    width: 1276px;
    height: 709px;
    left: 82px;
    top: 145px; */

    /* box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 32px;

    width: 412px;
    height: 709px;

    background: #ffffff;

    border: 1px solid #f2f2f2;
    border-radius: 8px; */
}

.popupdelete,
.popupedit {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(43, 43, 43, 0.8);
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.popupdelete_visible,
.popupedit_visible {
    opacity: 1;
    visibility: visible;
}

.popupdelete__body,
.popupedit__body {
    width: 628px;
    /* height: 420px; */
    min-height: 420px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: #fdfdfd;

    box-shadow: 0px -2px 18px rgba(128, 128, 128, 0.1);
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    overflow: auto;
}

.test {
    height: 200px;

    border: 1px solid blue;
}

.popupdelete__content,
.popupedit__content {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding: 32px;
    gap: 40px 0px;
    border: 1px solid orange;
}

.popupdelete__title,
.popupedit__title {
    width: 207;
    height: 32px;
    text-align: justify;
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;

    color: #2b2b2b;
}

.popupdelete__text {
    width: 495px;
    height: 44px;
    text-align: left;
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #2b2b2b;
}

.popupdelete__close,
.popupedit__close {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;

    position: absolute;
    width: 16px;
    height: 16px;
    left: 596px;
    top: 0px;
    cursor: pointer;
    border-radius: 0px 8px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    width: 564px;
    height: 108px;
}

.content_disabled {
    pointer-events: none;
}

.checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 0px 0px 0px 10px;
    gap: 10px;

    width: 198px;
    height: 24px;
    cursor: pointer;
    position: relative;
}

.checkbox__input {
    display: none;
    position: relative;
    left: -4px;
    width: 24px;
    height: 24px;
}

.checkbox__externalbox {
    box-sizing: border-box;

    position: absolute;
    width: 24px;
    height: 24px;
    left: 0px;
    top: 0px;
    cursor: pointer;
    border: 1px solid #ec4466;
    border-radius: 2px;
}

.checkbox__innerbox {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 4px;
    top: 4px;
    cursor: pointer;
    background: #ec4466;
    border-radius: 2px;
}

.checkbox__innerbox_hide {
    position: absolute;
    left: 1px;
    top: 1px;
    background: #ffffff;
    width: 22px;
    height: 22px;
}

.checkbox__title {
    width: 160px;
    height: 22px;

    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;

    color: #ec4466;

    position: absolute;
    left: 32px;
}

.popupdelete__buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
}

.inputfield {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 16px;
    gap: 16px;

    width: 564px;
    height: 64px;

    background: #ffffff;

    border: 1px solid #f2f2f2;
    border-radius: 4px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.inputfield__content {
    width: 380px;
    height: 35px;
}

.inputfield__content input {
    width: 100%; /* Ширина поля */
    box-sizing: border-box; /* Ширина не учитывает padding */
    padding: 0.5rem 0; /* Поля вокруг текста */
    border: none; /* Убираем рамку */
    background: transparent; /* Прозрачный фон */
}

.inputfield__content input:focus {
    outline: none; /* Убираем контур */
    border-color: #1976d2; /* Синяя линия снизу */
}

.inputfield__content label {
    display: block; /* Блочный элемент */
    text-align: left;
    color: #aaa; /* Цвет подсказки */
    transform: translateY(-1.5rem); /* Сдвигаем вверх */
    line-height: 1rem; /* Межстрочный интервал */
    transition: 0.5s; /* Время трансформации */
}

.inputfield__content input:focus + label,
.inputfield__content input:valid + label {
    font-size: 10px; /* Размер шрифта */
    transform: translateY(-2.5rem); /* Сдвигаем вверх */
}

.inputfield__content img {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 18.75%;
    bottom: 18.75%;

    background: #808080;
}
