.app__blocks {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    position: absolute;
    width: 1276px;
    height: 709px;
    left: 82px;
    top: 145px;
}

.popupdelete {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(43, 43, 43, 0.8);
    left: 0;
    top: 0;
}

.popupdelete__body {
    width: 628px;
    height: 420px;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    background: #fdfdfd;

    box-shadow: 0px -2px 18px rgba(128, 128, 128, 0.1);
    border-radius: 8px;
}

.popupdelete__content {
    display: flex;
    flex-direction: column;

    align-content: flex-start;
    padding: 0px;
    gap: 40px 0px;
    position: absolute;
    width: 564px;
    height: 356px;
    left: 32px;
    top: 32px;

    border: 1px solid yellowgreen;
}

.popupdelete__title {
    width: 207;
    height: 32px;
    text-align: justify;
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;

    color: #2b2b2b;
}

.popupdelete__text {
    width: 495px;
    height: 44px;
    text-align: left;
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;

    color: #2b2b2b;
}

.popupdelete__close {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;

    position: absolute;
    width: 16px;
    height: 16px;
    left: 596px;
    top: 0px;

    border-radius: 0px 8px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    width: 564px;
    height: 108px;

    border: 1px solid orange;
}

.input {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    padding: 0px;
    gap: 8px;

    width: 564px;
    height: 64px;

    border: 1px solid blue;
}

.input__content {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 16px;
    gap: 16px;

    width: 564px;
    height: 64px;

    background: #ffffff;

    border: 1px solid #f2f2f2;
    border-radius: 4px;

    border: 1px solid green;
}

.input__button {
}
