.app__blocks {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    position: absolute;
    width: 1276px;
    height: 709px;
    left: 82px;
    top: 145px;
}

.popupdelete,
.popupedit {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(43, 43, 43, 0.8);
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

/* .popupdelete:target {
    opacity: 1;
    visibility: visible;
} */

.popupdelete_visible,
.popupedit_visible {
    opacity: 1;
    visibility: visible;
}

.popupdelete__body,
.popupedit__body {
    width: 628px;
    height: 420px;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    background: #fdfdfd;

    box-shadow: 0px -2px 18px rgba(128, 128, 128, 0.1);
    border-radius: 8px;
}

.popupdelete__content,
.popupedit__content {
    display: flex;
    flex-direction: column;

    align-content: flex-start;
    padding: 0px;
    gap: 40px 0px;
    position: absolute;
    width: 564px;
    height: 356px;
    left: 32px;
    top: 32px;
}

.popupdelete__title,
.popupedit__title {
    width: 207;
    height: 32px;
    text-align: justify;
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;

    color: #2b2b2b;
}

.popupdelete__text {
    width: 495px;
    height: 44px;
    text-align: left;
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #2b2b2b;
}

.popupdelete__close,
.popupedit__close {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;

    position: absolute;
    width: 16px;
    height: 16px;
    left: 596px;
    top: 0px;
    cursor: pointer;
    border-radius: 0px 8px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    width: 564px;
    height: 108px;
}

.content_disabled {
    pointer-events: none;
}

.checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 0px 0px 0px 10px;
    gap: 10px;

    width: 198px;
    height: 24px;
    cursor: pointer;
    position: relative;
}

.checkbox__input {
    display: none;
    position: relative;
    left: -4px;
    width: 24px;
    height: 24px;
}

.checkbox__externalbox {
    box-sizing: border-box;

    position: absolute;
    width: 24px;
    height: 24px;
    left: 0px;
    top: 0px;
    cursor: pointer;
    border: 1px solid #ec4466;
    border-radius: 2px;
}

.checkbox__innerbox {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 4px;
    top: 4px;
    cursor: pointer;
    background: #ec4466;
    border-radius: 2px;
}

.checkbox__innerbox_hide {
    position: absolute;
    left: 1px;
    top: 1px;
    background: #ffffff;
    width: 22px;
    height: 22px;
}

.checkbox__title {
    width: 160px;
    height: 22px;

    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;

    color: #ec4466;

    position: absolute;
    left: 12px;
}

.popupdelete__buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    position: absolute;
    bottom: 0;
    width: 564px;
    height: 64px;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 10px;

    width: 196px;
    height: 64px;
    background: #f2f2f2;

    box-shadow: 0px -2px 18px rgba(128, 128, 128, 0.1);
    border-radius: 4px;

    cursor: pointer;
}

.button__text {
    width: 98px;
    height: 22px;

    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;

    color: #adadad;
}

.button__text_color {
    color: #ffffff;
}

.button_coloryes {
    background: #ec4466;
}

.button_colorno {
    background: #6c6963;
}

.popupedit__groupname {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 16px;
    gap: 16px;

    width: 564px;
    height: 64px;

    background: #ffffff;

    border: 1px solid #f2f2f2;
    border-radius: 4px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.groupname__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 2px;

    width: 532px;
    height: 35px;

    flex: none;
    order: 0;
    flex-grow: 1;
}

.groupname__title {
    width: 72px;
    height: 14px;

    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;

    color: #808080;
}

.groupname__name {
    width: 37px;
    height: 19px;

    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;

    color: #2b2b2b;
}
