.app__blocks {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    position: absolute;
    width: 1276px;
    height: 709px;
    left: 82px;
    top: 145px;
}
