.input__control {
    width: 564px !important;
    height: 64px !important;
    border: 1px solid #f2f2f2 !important;
    border-radius: 4px !important;
}

.input__control--is-focused,
.input__control--menu-is-open,
.input__control:focus {
    box-shadow: none;
}

.input__indicator-separator {
    display: none !important;
}

.input__value-container {
    padding: 0 !important;
}

.input__indicators {
    cursor: pointer !important;
}

.input__placeholder,
.input__single-value {
    padding-left: 10px !important;
    text-align: left !important;
}

.input__menu {
    text-align: left !important;
}
